name: Build book to html files

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: 'latest'

      
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: cargo install --git https://github.com/HollowMan6/mdbook-pdf.git
      - run: mdbook build
      
      - name: deploy book
        uses: actions/upload-artifact@v4
        with: 
          name: "{{ Lorem ipsum dolor }}文件 (HTML format).zip"
          path: |
            book
            !book/pdf
          retention-days: 1
          
      - name: deploy pdf
        uses: actions/upload-artifact@v4
        with: 
          name: "{{ Lorem ipsum dolor }}文件 (pdf format).zip"
          path: book/pdf/*.pdf
          retention-days: 1
          




